html,body {
    background: url(../84291.png) no-repeat center center fixed;
    color: #FFF;
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .container {
        height: 100%;
        width: 100%;
    }
    .input {
        height: 80vh;
        width: 500px;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    .input h1 {
        text-align: center;
    }
    .input p {
        text-align: left;
    }
    .inputItem {
        padding: 0px 40px;
    }
    .inputItem input, textarea {
        width: 100%;
    }
    .inputBtn {
        display: table;
        margin: 0 auto;
    }
    .inputBtn button {
        margin: 8px 0 0 15px;
    }
    .output {
        height: 80vh;
        text-align: left;
        width: 500px;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 50%;
        left: 72%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        color: white;
    }
    .output h1 {
        color: white;
        text-align: center;
    }
    .Restrictions {
        padding: 0px 40px;
    }